---
import { DateTime } from "luxon";
import Layout from "@/layouts/Layout.astro";
import SummaryTable from "@/components/SummaryTable.astro";
import { DatePicker } from "@/components/DatePicker";
import { getWeatherSummary } from "@/lib/getWeatherSummary";
import { Button } from "@/components/ui/button";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faRefresh } from "@fortawesome/free-solid-svg-icons";
import { SendEmail } from "@/components/SendEmail";

const dateString = Astro.params.date || "";
console.log(dateString);
const date = DateTime.fromISO(dateString, {
  zone: Astro.locals.user.time_zone,
});

if (date.invalidReason) return new Response(null, { status: 404 });
if (!Astro.locals.user) return new Response(null, { status: 401 });

const summary = await getWeatherSummary(
  Astro.locals.pb,
  Astro.locals.user.id,
  dateString
);
---

<Layout>
  <div class="flex flex-col lg:flex-row gap-4 justify-between lg:items-center">
    <DatePicker client:load currentDate={date.toJSDate()} />
    <div class="flex items-center gap-2">
      <SendEmail client:load dateString={dateString} />
      <form action="/api/refresh-weather" method="post">
        <input type="hidden" name="date" value={dateString} />
        <Button variant="secondary">
          <FontAwesomeIcon icon={faRefresh} className="h-4 w-4 mr-2" />
          Refresh
        </Button>
      </form>
    </div>
  </div>
  <br />
  <SummaryTable summary={summary} date={date} />
</Layout>
