---
import { DateTime } from "luxon";
import Layout from "@/layouts/Layout.astro";
import SummaryTable from "@/components/SummaryTable.astro";
import { DatePicker } from "@/components/DatePicker";
import { getWeatherSummary } from "@/lib/getWeatherSummary";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";
import { Checkbox } from "@/components/ui/checkbox";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faPaperPlane, faRefresh } from "@fortawesome/free-solid-svg-icons";

const dateString = Astro.params.date || "";
console.log(dateString);
const date = DateTime.fromISO(dateString);

if (date.invalidReason) return new Response(null, { status: 404 });
if (!Astro.locals.user) return new Response(null, { status: 401 });

const summary = await getWeatherSummary(
  Astro.locals.pb,
  Astro.locals.user.id,
  dateString
);
---

<Layout>
  <div class="flex gap-4 justify-between items-center">
    <DatePicker client:load currentDate={date.toJSDate()} />
    <div class="flex items-center gap-2">
      <form action="/api/emails/send" method="post" class="flex gap-4">
        <input type="hidden" name="date" value={dateString} />
        <div class="flex items-center space-x-2">
          <Checkbox client:load id="terms" name="test" defaultChecked={true} />
          <Label>Tester Emails Only</Label>
        </div>
        <Button type="submit">
          <FontAwesomeIcon icon={faPaperPlane} className="h-4 w-4 mr-2" />
          Send Summary
        </Button>
      </form>
      <form action="/api/refresh-weather" method="post">
        <input type="hidden" name="date" value={dateString} />
        <Button variant="secondary">
          <FontAwesomeIcon icon={faRefresh} className="h-4 w-4 mr-2" />
          Refresh
        </Button>
      </form>
    </div>
  </div>
  <br />
  <SummaryTable summary={summary} date={date} />
</Layout>
