---
import CenteredCard from "@/layouts/CenteredCard.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";

if (!Astro.params.id) return new Response(null, { status: 404 });

const station = await Astro.locals.pb
  .collection("weather_stations")
  .getOne(Astro.params.id);
console.log(station);
---

<CenteredCard>
  <form action={`/api/stations/${station.id}/update`} method="post">
    <Card>
      <CardHeader>
        <CardTitle>{station.name}</CardTitle>
        <CardDescription>Edit this weather station</CardDescription>
      </CardHeader>
      <CardContent>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <Label>Name</Label>
            <Input
              type="text"
              name="name"
              defaultValue={station.name}
              placeholder="Name"
              required
            />
          </div>
          <div>
            <Label>ID</Label>
            <Input
              type="text"
              name="wu_id"
              defaultValue={station.wu_id}
              placeholder="ID"
              required
            />
          </div>
          <div>
            <Label>Latitude</Label>
            <Input
              type="number"
              name="lat"
              defaultValue={station.lat}
              placeholder="Latitude"
              required
            />
          </div>
          <div>
            <Label>Longitude</Label>
            <Input
              type="number"
              name="lon"
              defaultValue={station.lon}
              placeholder="Longitude"
              required
            />
          </div>
        </div>
      </CardContent>
      <CardFooter className="grid grid-cols-2 gap-2">
        <Button type="submit">
          <i class="fa-solid fa-save mr-2"></i> Save
        </Button>
        <a href="/stations" class="w-full">
          <Button variant="secondary" type="button" className="w-full">
            <i class="fa-solid fa-cancel mr-2"></i> Cancel
          </Button>
        </a>
      </CardFooter>
    </Card>
  </form>
</CenteredCard>
